<md-toolbar class="md-toolbar">
	<div class="md-toolbar-tools">
		<div class="md-menu">
			<span>Taskey</span>
		</div>

		<md-input-container class="md-search md-whiteframe-z1" md-no-float>
				<input type="text" placeholder="search a task" ng-model="searchTask">
		</md-input-container>

		<md-icon class="md-search-icon" md-svg-src="assets/svg/md-search.svg"></md-icon>

		<span flex></span>
		<span class="md-nocase">
			{{user.email}}
		</span>

		<md-button aria-label="Open Settings" ng-click="showBottomSheet($event)">
			<ng-md-icon icon="more_vert" class="md-white-icon"></ng-md-icon>
		</md-button>
	</div>
</md-toolbar>


<md-button class="md-fab md-add" aria-label="Add" ng-show="user.signedIn" ng-click="showModal($event)">
	<ng-md-icon class="md-white-icon" icon="add"></ng-md-icon>
</md-button>


<md-content class="md-main-content" layout="column" flex layout-fill>
	
	<div class="md-sub-toolbar md-whiteframe-z1">
		<span>total: {{tasks.length}} tasks</span>
	</div>


	<md-tabs class="md-tasks-tabs">
		<md-tab id="tab1">
			<md-tab-label>all tasks</md-tab-label>
			<md-tab-body layout="row">

				<md-whiteframe class="md-task-list" flex="35">

					<md-item ng-repeat="task in tasks
											| filter:searchTask
											| orderBy:updatedAt">

						<md-item-content class="tile md-item-content md-whiteframe-z1" layout="column" ng-click="getTask(task)">

							<div layout="row" layout-fill>
								<div class="md-tile-left">
									<img ng-src="assets/avatar.jpeg" class="md-face">
								</div>

								<div class="md-tile-content" layout="column" layout-align="center start">
									<h3>{{task.title | limitTo:25}}{{task.title.length > 25? "..." : ""}}</h3>
									<span am-time-ago="task.created_at" class="time-ago"></span>
								</div>

								<div class="md-tile-right md-pricing">
									<span>{{task.total | currency:"$":0}}</span>
								</div>
							</div>

							<div class="md-instant-bar" layout="row" layout-fill>
								<div class="md-comments" flex>
									<md-icon md-svg-icon="assets/svg/md-comment.svg"></md-icon>
									<span>comments: 0</span>
								</div>

								<div class="md-bids" flex>
									<md-icon md-svg-icon="assets/svg/md-bid.svg"></md-icon>
									<span>bids: 0</span>
								</div>

								<div class="md-status" flex>
									<md-icon md-svg-icon="assets/svg/md-info.svg"></md-icon>
									<span>status: {{task.status}}</span>
								</div>
								
							</div>

						</md-item-content>
						<md-divider ng-if="!$last"></md-divider>
					</md-item>
				</md-whiteframe>


				<!-- task details -->
				<md-whiteframe class="md-whiteframe-z1 md-task-details" flex="40" layout="column">
					<div ng-hide="currentTask">
						<h3>Click on a task to view its details</h3>
					</div>

					<div ng-show="currentTask" class="md-header" layout="row">
						<div flex="75" class="md-title-details">
							<h3>{{currentTask.title}}</h3>
							<span>posted by {{currentTask.poster}}</span>
							<span am-time-ago="currentTask.created_at"></span>
						</div>

						<div flex="25" class="md-details-tags" layout="column">
							<div class="md-details-pricing">
								<span>{{currentTask.total | currency:"$":0}}</span>	
							</div>
							
							<div ng-show="isCreator" >
								<md-select class="md-details-status md-whiteframe-z1" ng-model="currentTask.status">
									<md-option value="open">Open</md-option>
									<md-option value="closed" ng-click="cancelTask(currentTask.id)">Close</md-option>
								</md-select>
							</div>

						</div>
					</div>

					<div ng-show="currentTask" class="md-description" layout="row">
						<div flex>
							<md-card class="md-whiteframe-z1">
								<md-card-content>
									<span class="md-description-content">{{currentTask.description}}</span>
								</md-card-content>
							</md-card>
						</div>
					</div>

				</md-whiteframe>
			</md-tab-body>
			
			<div layout="row">
				<span class="dummy-text" flex="5"></span>	
			</div>
			
		</md-tab>
	
		<md-tab id="tab2">
			<md-tab-label>open tasks</md-tab-label>
			<md-tab-body layout="row">

				<md-whiteframe class="md-task-list" flex="35">

					<md-item class="item"	ng-repeat="task in tasks
																| filter:{status:'open'}
																| filter:searchTask
																| orderBy:updatedAt">

						<md-item-content class="tile md-item-content md-whiteframe-z1" layout="column" ng-click="getTask(task)">

							<div layout="row" layout-fill>
								<div class="md-tile-left">
									<img ng-src="assets/avatar.jpeg" class="md-face">
								</div>

								<div class="md-tile-content" layout="column" layout-align="center start">
									<h3>{{task.title | limitTo:25}}{{task.title.length > 25? "..." : ""}}</h3>
									<span am-time-ago="task.created_at" class="time-ago"></span>
								</div>

								<div class="md-tile-right md-pricing">
									<span>{{task.total | currency:"$":0}}</span>
								</div>
							</div>

							<div class="md-instant-bar" layout="row" layout-fill>
								<div class="md-comments" flex>
									<md-icon md-svg-icon="assets/svg/md-comment.svg"></md-icon>
									<span>comments: 0</span>
								</div>

								<div class="md-bids" flex>
									<md-icon md-svg-icon="assets/svg/md-bid.svg"></md-icon>
									<span>bids: 0</span>
								</div>

								<div class="md-status" flex>
									<md-icon md-svg-icon="assets/svg/md-info.svg"></md-icon>
									<span>status: {{task.status}}</span>
								</div>
								
							</div>

						</md-item-content>
						<md-divider md-inset ng-if="!$last"></md-divider>
					</md-item>
				</md-whiteframe>


				<!-- task details -->
				<md-whiteframe class="md-whiteframe-z1 md-task-details" flex="40" layout="column">
					<div ng-hide="currentTask">
						<h3>Click on a task to view its details</h3>
					</div>

					<div ng-show="currentTask" class="md-header" layout="row">
						<div flex="75" class="md-title-details">
							<h3>{{currentTask.title}}</h3>
							<span>posted by {{currentTask.poster}}</span>
							<span am-time-ago="currentTask.created_at"></span>
						</div>

						<div flex="25" class="md-details-tags" layout="column">
							<div class="md-details-pricing">
								<span>{{currentTask.total | currency:"$":0}}</span>	
							</div>
							
							<div ng-show="isCreator" >
								<md-select class="md-details-status md-whiteframe-z1" ng-model="currentTask.status">
									<md-option value="open">Open</md-option>
									<md-option value="closed" ng-click="cancelTask(currentTask.id)">Close</md-option>
								</md-select>
							</div>

						</div>
					</div>

					<div ng-show="currentTask" class="md-description" layout="row">
						<div flex>
							<md-card class="md-whiteframe-z1">
								<md-card-content>
									<span class="md-description-content">{{currentTask.description}}</span>
								</md-card-content>
							</md-card>
						</div>
					</div>

				</md-whiteframe>

			</md-tab-body>

			<div layout="row">
				<span class="dummy-text" flex="5"></span>	
			</div>

		</md-tab>

		<md-tab id="tab3">
			<md-tab-label>closed tasks</md-tab-label>
			<md-tab-body layout="row">

				<md-whiteframe class="md-task-list" flex="35">

					<md-item ng-repeat="task in tasks
											| filter:{status:'closed'}
											| filter:searchTask
											| orderBy:updatedAt">

						<md-item-content class="tile md-item-content md-whiteframe-z1" layout="column" ng-click="getTask(task)">

							<div layout="row" layout-fill>
								<div class="md-tile-left">
									<img ng-src="assets/avatar.jpeg" class="md-face">
								</div>

								<div class="md-tile-content" layout="column" layout-align="center start">
									<h3>{{task.title | limitTo:25}}{{task.title.length > 25? "..." : ""}}</h3>
									<span am-time-ago="task.created_at" class="time-ago"></span>
								</div>

								<div class="md-tile-right md-pricing">
									<span>{{task.total | currency:"$":0}}</span>
								</div>
							</div>

							<div class="md-instant-bar" layout="row" layout-fill>
								<div class="md-comments" flex>
									<md-icon md-svg-icon="assets/svg/md-comment.svg"></md-icon>
									<span>comments: 0</span>
								</div>

								<div class="md-bids" flex>
									<md-icon md-svg-icon="assets/svg/md-bid.svg"></md-icon>
									<span>bids: 0</span>
								</div>

								<div class="md-status" flex>
									<md-icon md-svg-icon="assets/svg/md-info.svg"></md-icon>
									<span>status: {{task.status}}</span>
								</div>
								
							</div>
						</md-item-content>
						<md-divider md-inset ng-if="!$last"></md-divider>
					</md-item>
				</md-whiteframe>


				<!-- task details -->
				<md-whiteframe class="md-whiteframe-z1 md-task-details" flex="40" layout="column">
					<div ng-hide="currentTask">
						<h3>Click on a task to view its details</h3>
					</div>

					<div ng-show="currentTask" class="md-header" layout="row">
						<div flex="75" class="md-title-details">
							<h3>{{currentTask.title}}</h3>
							<span>posted by {{currentTask.poster}}</span>
							<span am-time-ago="currentTask.created_at"></span>
						</div>

						<div flex="25" class="md-details-tags" layout="column">
							<div class="md-details-pricing">
								<span>{{currentTask.total | currency:"$":0}}</span>	
							</div>
							
							<div ng-show="isCreator" >
								<md-select class="md-details-status md-whiteframe-z1" ng-model="currentTask.status">
									<md-option value="open">Open</md-option>
									<md-option value="closed" ng-click="cancelTask(currentTask.id)">Close</md-option>
								</md-select>
							</div>

						</div>
					</div>

					<div ng-show="currentTask" class="md-description" layout="row">
						<div flex>
							<md-card class="md-whiteframe-z1">
								<md-card-content>
									<span class="md-description-content">{{currentTask.description}}</span>
								</md-card-content>
							</md-card>
						</div>
					</div>

				</md-whiteframe>
			</md-tab-body>

			<div layout="row">
				<span class="dummy-text" flex="5"></span>	
			</div>

		</md-tab>

		<md-tab id="tab4" ng-show="user.signedIn">
			<md-tab-label>my tasks</md-tab-label>
			<md-tab-body layout="row">

				<md-whiteframe class="md-task-list" flex="35">

					<md-item class="item"	ng-repeat="task in tasks
																| filter:{poster:user.email}
																| filter:searchTask
																| orderBy:updatedAt">

						<md-item-content class="tile md-item-content md-whiteframe-z1" layout="column" ng-click="getTask(task)">

							<div layout="row" layout-fill>
								<div class="md-tile-left">
									<img ng-src="assets/avatar.jpeg" class="md-face">
								</div>

								<div class="md-tile-content" layout="column" layout-align="center start">
									<h3>{{task.title | limitTo:25}}{{task.title.length > 25? "..." : ""}}</h3>
									<span am-time-ago="task.created_at" class="time-ago"></span>
								</div>

								<div class="md-tile-right md-pricing">
									<span>{{task.total | currency:"$":0}}</span>
								</div>
							</div>

							<div class="md-instant-bar" layout="row" layout-fill>
								<div class="md-comments" flex>
									<md-icon md-svg-icon="assets/svg/md-comment.svg"></md-icon>
									<span>comments: 0</span>
								</div>

								<div class="md-bids" flex>
									<md-icon md-svg-icon="assets/svg/md-bid.svg"></md-icon>
									<span>bids: 0</span>
								</div>

								<div class="md-status" flex>
									<md-icon md-svg-icon="assets/svg/md-info.svg"></md-icon>
									<span>status: {{task.status}}</span>
								</div>
								
							</div>

						</md-item-content>
						<md-divider md-inset ng-if="!$last"></md-divider>
					</md-item>
				</md-whiteframe>


				<!-- task details -->
				<md-whiteframe class="md-whiteframe-z1 md-task-details" flex="40" layout="column">
					<div ng-hide="currentTask">
						<h3>Click on a task to view its details</h3>
					</div>

					<div ng-show="currentTask" class="md-header" layout="row">
						<div flex="75" class="md-title-details">
							<h3>{{currentTask.title}}</h3>
							<span>posted by {{currentTask.poster}}</span>
							<span am-time-ago="currentTask.created_at"></span>
						</div>

						<div flex="25" class="md-details-tags" layout="column">
							<div class="md-details-pricing">
								<span>{{currentTask.total | currency:"$":0}}</span>	
							</div>
							
							<div ng-show="isCreator" >
								<md-select class="md-details-status md-whiteframe-z1" ng-model="currentTask.status">
									<md-option value="open">Open</md-option>
									<md-option value="closed" ng-click="cancelTask(currentTask.id)">Close</md-option>
								</md-select>
							</div>

						</div>
					</div>

					<div ng-show="currentTask" class="md-description" layout="row">
						<div flex>
							<md-card class="md-whiteframe-z1">
								<md-card-content>
									<span class="md-description-content">{{currentTask.description}}</span>
								</md-card-content>
							</md-card>
						</div>
					</div>
				</md-whiteframe>
			</md-tab-body>

			<div layout="row">
				<span class="dummy-text" flex="5"></span>	
			</div>

		</md-tab>
	</md-tabs>

</md-content>