<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" aria-label="Menu">
			<md-icon md-svg-icon="assets/svg/md-menu.svg"></md-icon>
		</md-button>
		<h2>
			<span>Rails Ninja</span>
		</h2>

		<span flex=5></span>
		<md-button class="md-icon-button" aria-label="Post" ng-show="currentUser.signedIn" ng-click="showModal($event)">
			<span class="md-nocase">Post a Task</span>
		</md-button>

		<span flex=5></span>
		<md-button class="md-icon-button" aria-label="Browse">
			<span class="md-nocase">Browse Tasks</span>
		</md-button>

		<span flex></span>
		<md-button aria-label="Open Settings" ng-click="showBottomSheet($event)">
			<ng-md-icon icon="more_vert" class="md-vert-icon"></ng-md-icon>
		</md-button>
	</div>
</md-toolbar>



<md-content layout="row" flex layout-fill layout-padding>
	<span flex=15></span>

	<!-- task list -->
	<div flex="33" class="content">

		<md-input-container flex>
			<label>Search</label>
			<input type="text" ng-model="searchTask" placeholder="Search a task here">
		</md-input-container>

		<md-item class="item"	ng-repeat="task in tasks
													| filter:searchTask
													| orderBy:updatedAt">

			<md-item-content class="user tile" layout="column">

				<div layout="row" layout-fill ng-click="editTask(task.id)">
					<div class="md-tile-left">
						<img ng-src="assets/avatar.jpeg" class="md-face">
					</div>

					<div class="md-tile-content" layout="column" layout-align="center start">
						<h3>{{task.title | limitTo:25}}{{task.title.length > 25? "..." : ""}}</h3>
						<span am-time-ago="task.created_at"></span>
					</div>

					<div class="md-tile-right md-pricing">
						<span>{{task.total | currency:"$":0}}</span>
						<div>
							<span class="status open">{{task.status}}</span>
						</div>
					</div>
				</div>

			</md-item-content>
			<md-divider md-inset ng-if="!$last"></md-divider>
		</md-item>
	</div>

	<!-- task details -->
	<div flex="33" class="content">
		<h1 ng-show="currentUser.signedIn" ng-bind="currentUser.email"></h1>
		<p ng-show="currentUser.signedIn">{{currentUser.id}}</p>
	</div>

</md-content>


