<md-content class="md-padding">
	<h1>Edit a task</h1>
	<form name="taskForm" ng-submit="updateTask(selectedTask)">
		<md-input-container flex>
			<label>Title</label>
			<input type"text" ng-model="selectedTask.title" placeholder="Task title" required>
		</md-input-container>
		<md-input-container flex>
			<label>Description</label>
			<textarea ng-model="selectedTask.description" placeholder="What you need to do?" md-maxlength="150" required></textarea>
		</md-input-container>
		<md-input-container flex>
			<label>Total</label>
			<input type="number" ng-model="selectedTask.total" placeholder="How much are you willing to pay?" required>
		</md-input-container>		
		<md-button type="submit" value="Edit" class="md-raised md-primary">Edit</md-button>
	</form>
</md-content>