<div ng-controller="AppCtrl" layout="column" layout-fill>
  <md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
      <h3>
        <span>Rails Ninja</span>
      </h3>
    </div>
  </md-toolbar>
</div>

<md-input-container>
	<label>Task</label>
	<input ng-model="title" placeholder="Task title">
</md-input-container>

Your task is: {{title}}