<md-dialog aria-label="signin User" class="md-dialog-user">
	<h3>Log in</h3>
	<md-divider></md-divider>
	<md-content class="sticky-container">


		<div class="dialog-content">	
			<form name="userForm">
				<md-input-container layout="column" flex>
					<md-icon md-svg-icon="assets/svg/md-mail.svg" class="name"></md-icon>
					<input 	type="email"
							ng-model="user.email"
							required>
				</md-input-container>
				<md-input-container flex>
					<md-icon md-svg-icon="assets/svg/md-lock.svg" class="name"></md-icon>
					<input 	type="password"
							ng-model="user.password"
							required>
				</md-input-container>
			</form>
		</div>
	</md-content>
	
	<div class="md-actions" layout="row">
		<md-button class="md-primary blue-button" ng-click="userLogin(user)">
			Log in
		</md-button>
	</div>
</md-dialog>