<md-dialog aria-label="signin User" class="tt-dialog">
	<md-content class="sticky-container">
		<h3>Register</h3>
		<form name="userForm">
			<md-input-container flex>
				<label>Email address</label>
				<input 	type="email"
						ng-model="user.email"
						placeholder="Enter email"
						required>
			</md-input-container>

			<md-input-container flex>
				<label>Password</label>
				<input 	type="password"
						ng-model="user.password"
						placeholder="Enter pass"
						required>
			</md-input-container>

			<md-input-container flex>
				<label>Password</label>
				<input 	type="password"
						ng-model="user.password_confirmation"
						placeholder="Enter pass"
						required>
			</md-input-container>
		</form>
	</md-content>
	
	<div class="md-actions" layout="row">
		<md-button type="submit" value="Login" class="md-primary" ng-click="answer(user)">
			Register
		</md-button>
	</div>
</md-dialog>