<md-dialog aria-label="register User" class="md-dialog">
	<md-content class="sticky-container">
		<md-subheader class="md-sticky-no-effect">Go ahead and register</md-subheader>

		<div class="dialog-content">
			<form name="userForm">
				<md-input-container flex>
					<label>Email address</label>
					<input 	type="email"
							ng-model="user.email"
							placeholder="Enter email"
							required>
				</md-input-container>

				<md-input-container flex>
					<label>Password</label>
					<input 	type="password"
							ng-model="user.password"
							placeholder="Enter pass"
							required>
				</md-input-container>

				<md-input-container flex>
					<label>Password Confirmation</label>
					<input 	type="password"
							ng-model="user.password_confirmation"
							placeholder="Enter pass"
							required>
				</md-input-container>
			</form>
		</div>
	</md-content>
	
	<div class="md-actions" layout="row">
		<md-button class="md-raised md-primary" ng-click="userRegister(user)">
			Register
		</md-button>
	</div>
</md-dialog>