
$grey			: #E0E0E0;
$blue			: #03A9F4;
$red			: #F44336;
$dark-grey		: #EEEEEE;

.md-tasks-content {
	background-color: $dark-grey !important;
	padding: 0 20px 20px 20px !important;
}



.md-title {
	text-transform: none;
	font-size: 1.5rem;
	font-weight: 400;
}

md-icon {
	margin: 0 10px 10px 0 !important;
}

.add-icon {
	fill: white;
}

.md-nocase {
	text-transform: none;
	margin: 0 10px 10px 0 !important;
	font-weight: 300;
}


.md-icon-button {
	margin: 60px 74px 0 20px !important;
}



.md-search {
	margin-top: 60px;
	color: white;


	input {
		font-weight: 300;
		color: white !important;
		border-color: white transparent !important;
	}
}

.md-search-icon {
	position: relative;
	padding: 10px 0 10px 12px;
	width: 48px;
	height: 100%;

	background-color: white;
	border-radius: 30px;
}




.md-task-list, .md-task-details {

	height: 100% !important;
	margin: 20px 10px 0 10px;
	padding: 20px 20px 20px 20px !important;
	background-color: white;
}


.md-tasks-tabs {
	height: 100% !important;
	padding: 10px 10px 10px 15% !important; 
}



















.md-pricing {
	text-align: center;
	padding-top: 5px;
	font-size: 1.5rem !important;
}


.md-face {
	border-radius: 30px;
	border: 1px solid #ddd;
	width: 48px;
	margin: 16px;
}

.md-details {
	padding: 50px 10px 0 10px !important;
}

.md-title span {
	font-size: 1rem;
}

.md-title h3 {

}

.md-header {
	margin-left: 10px;
	padding-right: 20px;
}


.md-details-tags {
	right: 10px;
	height: 120px;
}

.md-details-pricing {
	padding: 5px 20px 5px 20px;
	background-color: $grey;
	font-size: 2.5rem;
	text-align: center;
}

.md-details-status {
	width: 100%;
	margin-top: 10px;
	padding: 5px 5px 5px 50px;
	font-size: 1.5rem;
	background-color: $blue;
	color: white;
}



.md-list-status {
	float: right;
	margin-top: 10px;
	padding: 2px 10px 2px 10px;
	color: white;
}



.md-description {

	margin-top: 90px;

	.md-description-title {
		margin-bottom: 10px;
		font-size: 1.5rem;
	}
}

.open {
	background-color: $blue;
}

.closed {
	background-color: $red;
}
