/* -------------------------------- 
Modules - reusable parts of our design
-------------------------------- */


$grey			: #E0E0E0;
$blue			: #03A9F4;
$red			: #F44336;
$dark-grey		: #EEEEEE;



.md-main-content {
	position: absolute;
	background-color: $dark-grey !important;
}


.open {
	background-color: $blue;
}

.closed {
	background-color: $red;
}

.dummy-text {
	height: 5px;
}

.time-ago {
	font-weight: 300;
}

.md-white-icon {
	fill: white;
}




