
.md-pricing {
	font-size: 1.5rem !important;
}

.md-nocase {
	text-transform: none;
}

.md-face {
	border-radius: 30px;
	border: 1px solid #ddd;
	width: 48px;
	margin: 16px;
}

.md-icon-placeholder {
  height: 24px; }