/* -------------------------------- 
Dialogs
-------------------------------- */

$grey			: #E0E0E0;
$blue			: #03A9F4;
$red			: #F44336;
$dark-grey		: #EEEEEE;
$meh-blue 		: #479dc4;


md-dialog md-content.sticky-container {
	padding: 40px 0 0 0;
}

md-dialog md-content.sticky-container .dialog-content {
	padding: 0 24px 24px;
}


.md-dialog-user {
	width: 25%;
	height: auto;
	h3 {
		text-align: center;
		font-weight: 300;
	}
}

.md-dialog-post {
	width: 40%;
	height: auto;
	h3 {
		text-align: center;
		font-weight: 300;
	}
}


.md-add-button {
	background: $red !important;
}


.md-login-button, .md-register-button {
	background: $meh-blue !important;
}
