md-dialog md-content.sticky-container {
	padding: 40px 0 0 0;
}

md-dialog md-content.sticky-container .dialog-content {
	padding: 0 24px 24px;
}


.md-dialog {
	width: 25%;
	height: auto;
}


.md-sticky-no-effect {
	width: 100% !important;
	background: #F44336 !important;
	text-align: center !important;
	color: white !important;
	font-size: 1.5rem !important;
}

.md-add, .md-edit {
	background: #F44336 !important;
}

.md-placeholder {
	margin-left: 60px;
	margin-top: -18px;
}