<md-bottom-sheet class="md-list md-has-header">
	<md-subheader>
		Account settings
	</md-subheader>
	<md-list>
		<md-item ng-hide="user.signedIn">
			<md-item-content md-ink-ripple flex class="inset">
				<a flex aria-label="login" ng-click="showModalLogin($event)">
					<span class="md-inline-list-icon-label">Login</span>
				</a>
			</md-item-content>
		</md-item>

		<md-item ng-show="user.signedIn">
			<md-item-content md-ink-ripple flex class="inset">
				<a flex aria-label="logout" ng-click="userLogOut()">
					<span class="md-inline-list-icon-label">Logout</span>
				</a>
			</md-item-content>
		</md-item>

		<md-item ng-hide="user.signedIn">
			<md-item-content md-ink-ripple flex class="inset">
				<a flex aria-label="register" ng-click="showModalRegister($event)">
					<span class="md-inline-list-icon-label">Register</span>
				</a>
			</md-item-content>
		</md-item>

	</md-list>
	<md-subheader>
		Other Stuff
	</md-subheader>
		<md-list>
			<md-item>
				<md-item-content md-ink-ripple flex class="inset">
					<a flex aria-label="about" ng-click="aboutUs($event)">
						<span class="md-inline-list-icon-label">About Us</span>
					</a>
				</md-item-content>
			</md-item>
		</md-list>
</md-bottom-sheet>