<md-dialog aria-label="post Task" class="md-dialog-post">
	<h3>Update a Task </h3>
	<md-divider></md-divider>

	<md-content class="sticky-container">
		
		<div class="dialog-content">
			<form name="userForm">
				<div layout="row">
					<div flex="50">
						<md-input-container flex>
							<label>Title</label>
							<input 		type="text"
										ng-model="currentTask.title"
										required>
						</md-input-container>
					</div>
					<div flex="50">
						<md-input-container flex>
							<label>Total</label>
							<input 		type="number"
										ng-model="currentTask.total"
										required>
						</md-input-container>
					</div>
				</div>

				<md-input-container flex>
					<label>Description</label>
					<textarea 	ng-model="currentTask.description"
								md-maxlength="150"
								required>
					</textarea>
				</md-input-container>

				<div layout="row">
					<div flex="20">
						<md-input-container flex>
							<small>Status</small>
							<md-select ng-model="currentTask.status">
								<md-option value="open">Open</md-option>
								<md-option value="closed">Close</md-option>
							</md-select>
						</md-input-container>
					</div>
				</div>

			</form>
		</div>
	</md-content>

	<div class="md-actions" layout="row">
		<md-button class="md-primary red-button" ng-click="answer(currentTask)">
			Update
		</md-button>
	</div>

</md-dialog>