<md-dialog aria-label="post Task" class="md-dialog">
	<md-content class="sticky-container">
		<md-subheader class="md-sticky-no-effect">Post a task, its fun!</md-subheader>
		
		<div class="dialog-content">
			<form name="userForm">
				<md-input-container flex>
					<label>Title</label>
					<input 		type="text"
								ng-model="task.title"
								placeholder="What you need to be done?" 
								required>
				</md-input-container>
				<md-input-container flex>
					<label>Description</label>
					<textarea 	ng-model="task.description"
								placeholder="Describe your task here"
								md-maxlength="150"
								required>
					</textarea>
				</md-input-container>
				<md-input-container flex>
					<label>Total</label>
					<input 		type="number"
								ng-model="task.total"
								placeholder="How much are you willing to pay?"
								required>
				</md-input-container>
			</form>
		</div>
	</md-content>
	
	<div class="md-actions" layout="row">
		<md-button ng-click="createTask(task)" class="md-raised md-primary md-add">
			Post
		</md-button>
	</div>
</md-dialog>