<!DOCTYPE html>
<html lang="en" ng-app="taskApp">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Taskey</title>
		<%= stylesheet_link_tag    'application', media: 'all' %>
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>

	<body>

		<div ng-view>
			<%= yield %>
		</div>

	</body>

</html>
